header h1,
section>div {
  max-width: 600px;
  margin: 0 auto;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid goldenrod;
  text-align: center;
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
}

nav button {
  border-radius: 3px;
  cursor: pointer;
  /* font-family: nyt-franklin, helvetica, arial, sans-serif; */
  /* transition: all 0.6s ease 0s; */
  white-space: nowrap;
  vertical-align: middle;
  background-color: rgb(86, 123, 149);
  border: 1px solid rgb(50, 104, 145);
  color: rgb(255, 255, 255);
  font-size: 11px;
  line-height: 11px;
  font-weight: 700;
  letter-spacing: 0.05em;
  padding: 11px 12px 8px;
  margin: 8px;
  text-transform: uppercase;
}

.title-h1 {
  flex: 1 1;
}

nav div svg {
  width: 16px;
}

nav div {
  padding: 9px;
}

nav a {
  font-weight: bold;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  text-decoration: underline;
}

article {
  margin-top: 48px;
  padding-top: 3.75rem;
}

.title-h1 svg {
  width: 195px;
}

figcaption {
  color: #666;
  font-size: 15px;
}

figcaption span {
  font-size: 13px;
  color: #888;
}

@font-face {
  font-family: franklin;
  src: url("assets/fonts/franklin-normal-700.woff"), url('assets/fonts/franklin-normal-700.woff2');
  font-weight: 700;
}

@font-face {
  font-family: franklin;
  src: url("assets/fonts/franklin-normal-300.woff"), url('assets/fonts/franklin-normal-300.woff2');
  font-weight: 300;
}

section figure {
  max-width: 720px;
  margin: 0 auto;
}

header img,
header figure {
  width: 945px;
  margin: 0 auto;
}

header figcaption {
  width: 720px;
}

.img-div {
  max-width: 600px;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section p {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 300;
  color: #333;
}

aside {
  display: flex;
  justify-content: center;
}

aside article img {
  width: 100%;
}

aside article {
  position: relative;
  width: 945px;
}

aside article .text-container {
  position: absolute;
  top: 115px;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

aside .text-container p {
  font-size: 14px;
  width: 25%;
  margin-top: 144px;
}
