header h1,
section {
  max-width: 600px;
  margin: 0 auto;
}

aside {
  color: #666;
}

@font-face {
  font-family: franklin;
  src: url("assets/fonts/franklin-normal-700.woff"), url('assets/fonts/franklin-normal-700.woff2');
  font-weight: 700;
}

@font-face {
  font-family: franklin;
  src: url("assets/fonts/franklin-normal-300.woff"), url('assets/fonts/franklin-normal-300.woff2');
  font-weight: 300;
}

section aside {
  max-width: 720px;
  margin: 0 auto;
}

header img,
header aside {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section p {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 300;
  color: #333;
}
